h1 {
  color: red;
}

.default-bg {
  background-color: #ccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.result-display {
  background-color: rgba(0, 0, 0, 0.4);
}

.theme-color {
  color: #5f939a;
}

.theme-bg {
  background-color: #5f939a;
}
